@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&family=Fraunces:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: "Montserrat", sans-serif;
    color: #777;
    
}

section{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    background: white;
    width: 610px;
    height: 470px;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}

.product-img{
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
}

.product-info{
    padding: 30px 30px 33px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.PERFUME{
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 13px;
}

.product-title{
    font-family: "Fraunces", serif;
    line-height: 1;
    color: #222222;
}

p{
    font-size: 14px;
}

.product-pargraph{
    line-height: 1.6;
    font-weight:500;
}

.price{
    display: flex;
    align-items: center;
    gap: 17px;
}

.new-price{
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", serif;
    font-weight: 700;
}

#old-price{
    font-size: 13px;
    font-weight: 500;
    text-decoration: line-through;
    text-decoration-thickness: 0.8px;
}

button{
    width: 100%;
    height: 48.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: hsl(158, 36%, 37%) ;
    color: white;
    border: none;
    font-size: 13.5px;
    font-weight: 600;
}

button:hover{
    background: hsl(158, 42%, 18%);
}

button > img{
    height: 15px;
    width: 15px;
}

@media (max-width: 376px) {
    section{
       align-items:start; 
       height:auto;
       min-height: 100vh;
    }

    .product{
        margin-top: 75px;
        margin-inline:12.8px;
        flex-direction: column;
        height: 46.6rem;
    }

    .product-img{
        background-image: url(images/image-product-mobile.jpg);
        height: 45.5%;
        width: 100%;
    }

    .product-info{
        height: 54.5%;
        width: 100%;
    }

    p{
        font-size: 14px;
    }

    .PERFUME{
        letter-spacing: 4.5px;
        font-size: 13px;
    }
}
